<div id="footer">
  <div class="wrap">

    <p>CONTACT US!</p>

    <br>

    <div id="contacts">
      <div class="contact"><b>Portugal</b> <br>
        <nobr><a href="tel:+351914184366" class="phone-number">+351 914 184 366</a></nobr>
      </div>
      <div class="contact"><b>Brasil</b> <br>
        <nobr><a href="tel:++551132809467" class="phone-number">+55 113 280 9467</a></nobr>
      </div>
      <div class="contact"><b>Morocco</b> <br>
        <nobr><a href="tel:+212644957982" class="phone-number">+212 644 957 982</a></nobr>
      </div>
      <div class="contact"><b>United States</b> <br>
        <nobr><a href="tel:+17162183861" class="phone-number">+1 716 218 3861</a></nobr>
      </div>

      <div id="social">
        <a href="https://wa.me/351914184366" class="nostyle">
          <div class="link"> <i class="fa-brands fa-whatsapp"></i></div>
        </a>
        <a target="_blank" rel="noopener" href="https://www.facebook.com/sirocotours/" class="nostyle">
          <div class="link"> <i class="fa-brands fa-facebook"></i></div>
        </a>
        <a target="_blank" rel="noopener" href="https://www.instagram.com/siroco.tours.marrocos/" class="nostyle">
          <div class="link"> <i class="fa-brands fa-instagram"></i></div>
        </a>
      </div>
    </div>

    <br>



    <div id="legal">
      <p> {{ T "legal"}}</p>
      <p> {{ T "legal2"}}</p>
      <p> {{ T "legal3"}}</p>

    </div>

  </div>


  <!-- CSS -->
  <link rel="stylesheet" href="/css/fontawesome.min.css">

  <!-- JS -->
  <script defer type="text/javascript" src="/js/jquery.min.js"></script>
  <script defer type="text/javascript" src="/js/jquery-ui.min.js"></script>
  <script defer type="text/javascript" src="/js/siroco.js"></script>
</div>